In [2]:
import pandas as pd

# Read the data

In [59]:
df = pd.read_csv('data/census.csv')
df.sample(10)

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
25639,38,Private,177154,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,United-States,<=50K
603,42,Local-gov,175674,9th,5,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,United-States,<=50K
7785,32,Private,151053,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States,>50K
13884,70,?,26990,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,60,United-States,<=50K
1901,65,Without-pay,27012,7th-8th,4,Widowed,Farming-fishing,Unmarried,White,Female,0,0,50,United-States,<=50K
22376,29,Private,161857,HS-grad,9,Married-spouse-absent,Other-service,Not-in-family,Other,Female,0,0,40,Columbia,<=50K
15370,39,Private,195253,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
17102,61,Local-gov,177189,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,42,United-States,<=50K
29707,38,Private,22245,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
17394,45,Private,270842,Some-college,10,Divorced,Other-service,Not-in-family,White,Female,0,0,40,United-States,<=50K

In [60]:
df.columns

Index(['age', ' workclass', ' fnlgt', ' education', ' education-num',
       ' marital-status', ' occupation', ' relationship', ' race', ' sex',
       ' capital-gain', ' capital-loss', ' hours-per-week', ' native-country',
       ' salary'],
      dtype='object')

Clean the data by 
- removing spaces in column names
- replace ? sign with None
- drop null rows

In [61]:
# removing spaces in column names
df.columns = df.columns.str.strip()

In [62]:
# replace ? with null values
clean_df = df.replace('\\?', None, regex=True)
# check if it is removed
clean_df.iloc[931]

age                           19
workclass                   None
fnlgt                      52114
education           Some-college
education-num                 10
marital-status     Never-married
occupation                  None
relationship           Own-child
race                       White
sex                       Female
capital-gain                   0
capital-loss                   0
hours-per-week                10
native-country     United-States
salary                     <=50K
Name: 931, dtype: object

In [63]:
# remove all null rows
clean_df = clean_df.dropna()

In [64]:
print("Number of rows before remove nulls :",df.shape[0])
print("Number of rows after remove nulls  :",clean_df.shape[0])

Number of rows before remove nulls : 32561
Number of rows after remove nulls  : 30162

In [65]:
# Save to new file
clean_df.to_csv('data/census_clean.csv', index=False)